@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100vh;
}

body {
  background-color: white;
}

@font-face {
  font-family: "Gridas";
  src: url("fonts/MSDotGrid-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/SuisseIntl-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/SuisseIntl-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/SuisseIntl-Book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/SuisseIntl-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/SuisseIntl-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.button {
  @apply border border-black/20;
  @apply rounded-[100px];

  @apply leading-none h-fit;
  @apply pl-2.5 pr-12 py-2;
  @apply cursor-pointer;
  font-size: 16px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.8);
}

.button.round {
  @apply p-0 h-[35px] w-[35px] text-center;
  @apply flex justify-center items-center;
}

.button:hover {
  @apply bg-science-green/80;
}

.fold {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.intro-wrapper {
  background-image: url("../assets/landing.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fold {
  @apply min-h-[100vh];
}

.second-image {
  @apply min-h-[100vh] object-cover;
}

.entrance-image {
  @apply min-h-[360px] md:min-h-[100vh] object-cover md:object-contain object-left;
}

/* BEGANTI LINIJA */

.running-line {
  width: 100%;
  overflow: hidden;

  @apply fixed top-0 md:relative;
  @apply md:mt-[-58px];
}

.running-line-bg {
  background: white;
  width: 100%;
  position: relative;
}

.running-line-placeholder {
  line-height: 1.2;
  font-family: "Gridas";
  font-size: 48px;
}

.running-line-text {
  color: black;
  font-family: "Gridas";
  font-size: 48px;
  white-space: nowrap;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 1.4;
}

#mobile-navigation {
  height: 100vh;
}

@supports (height: 100dvh) {
  #mobile-navigation {
    height: 100dvh;
  }
}
