@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  background-color: white;
}

@font-face {
  font-family: "Gridas";
  src: url("fonts/MSDotGrid-Regular.woff");
}

.button {
  @apply border border-black/20;
  @apply rounded-[100px];
}

.button-placeholder {
  @apply bg-white;
}

.fold {
  min-height: 100vh;
}

.intro-wrapper {
  background-image: url("../assets/landing.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fold {
  @apply min-h-[100vh];
}

.second-image {
  @apply min-h-[100vh] object-cover;
}

.entrance-image {
  @apply min-h-[359px] md:min-h-[100vh] object-contain;
}

/* BEGANTI LINIJA */

.running-line {
  width: 100%;
  overflow: hidden;

  @apply fixed top-0 md:relative;
}

.running-line-bg {
  background: white;
  width: 100%;
  position: relative;
}

.running-line-placeholder {
  line-height: 1.2;
  font-family: "Gridas";
  font-size: 48px;
}

.running-line-text {
  color: black;
  font-family: "Gridas";
  font-size: 48px;
  white-space: nowrap;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 1.4;
}
